/* Font family */
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@font-face {
  font-family: 'TmonMonsori';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
/* ------------------------------------------ */
/* Global set */
:root {
  /* color */
  /* Font size */
  --font-large: 2.5em;
  --font-medium: 1.5em;
  --font-regular: 1.125em;
  --font-small: 1.05em;
  --font-micro: 0.875em;
  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  /* Size */
  /* Animation */
}
/* ------------------------------------------ */
/* Default */
* {
  margin: 0;
  padding: 0;
  font-family: 'NanumSquare', sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
a {
  color: #a7a7a7;
  font-weight: var(--weight-regular);
}
.roboto {
  font-family: 'Roboto', sans-serif;
  font-weight: var(--weight-semi-bold);
}
/*  */
/* --------------1. 네비게이션 바(상단) ------------------- */
#navbar {
  background-color: #fcfcfc;
  box-shadow: 0px 1px 20px #e6e4e4;
  width: 100%;
  height: 88px;
  display: flex;
  justify-content: space-between;
}
.navbar__btn {
  flex-basis: 35%;
}
/*  1-1. 네비게이션 햄버거 버튼 */
input#X__btn {
  display: none;
}
.xBtn__label {
  display: block;
  position: relative;
  top: 50%;
  left: 28px;
  transform: translateY(-50%);
  width: 33px;
  height: 24px;
  cursor: pointer;
  z-index: 5;
}
.xBtn__label span {
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 3px;
  background-color: #333;
  transition: all 0.3s ease;
}
.xBtn__label span:nth-child(1) {
  top: 0;
}
.xBtn__label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.xBtn__label span:nth-child(3) {
  bottom: 0;
}
#X__btn:checked + .xBtn__label span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
#X__btn:checked + .xBtn__label span:nth-child(2) {
  opacity: 0;
}
#X__btn:checked + .xBtn__label span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}
/* 1-2. 클릭 시 나타나는 좌측 슬라이드 메뉴 바 */
#menu__slide {
  position: fixed;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  min-width: 980px;
  background-color: #fcfcfc;
  z-index: 3;
  transition: all 0.35s;
}
#X__btn:checked ~ label + div#menu__slide {
  left: 0;
}
/*  1-2-1. 메뉴 컨텐츠 스타일 */
.menu__body {
  width: 100%;
  height: 100%;
  padding: 88px 0 0;
}
.menu__main {
  width: 100%;
  height: 100%;
  border-top: 1px solid #dde1e5;
}
.accordion__menu {
  display: flex;
  width: 100%;
  height: auto;
}
.menu--left {
  flex-basis: 30%;
  height: auto;
  padding: 45px 0 0 50px;
}
.gnb__title {
  font-weight: 800;
  font-size: var(--font-small);
  color: #3b3b3b;
}
.arrowBtn {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.arrowBtn img {
  width: 24px;
  height: auto;
}
.gnb__title::after {
  content: '';
  display: block;
  width: 170px;
  height: 2px;
  margin: 7px 0 0 -3px;
  background-color: #d6d6d6;
}
.menu__2depth {
  margin-top: 25px;
}
.menu__2depth li {
  padding: 6px 0;
}
.menu__2depth li > a {
  transition: all 0.3s ease-in-out;
}
.menu__2depth li > a:hover {
  color: #f1001d;
}
/*  */
.menu--right {
  flex-basis: 70%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  overflow-x: hidden;
}
.menu-default {
  flex-basis: 50%;
  padding: 45px 0 0 50px;
}
.menu1,
.menu3 {
  border-left: 1px solid #dde1e5;
  border-right: 1px solid #dde1e5;
}
.menu3,
.menu4 {
  height: 100%;
}
.menu__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 180px;
  z-index: 5;
}
.menu__footer--common {
  height: 90px;
  line-height: 90px;
  text-align: center;
}
.menu__footer--common > a {
  display: inline-block;
}
.menu__footer--common > a > img {
  vertical-align: middle;
  object-fit: contain;
}

.amibo {
  background-color: #f9f8f8;
}
.myNin {
  background-color: #f1001d;
}
/* 메뉴의 스크롤바 꾸미기  */
.menu--right::-webkit-scrollbar {
  /* 스크롤바 전체 영역 */
  width: 7px;
}
.menu--right::-webkit-scrollbar-track {
  background-color: transparent;
  /* 스크롤이 움직이는 영역  */
}
.menu--right::-webkit-scrollbar-thumb {
  /*  스크롤  */
  background-color: #d6d6d6;
}
.menu--right::-webkit-scrollbar-button:start:decrement,
.menu--right::-webkit-scrollbar-button:end:increment {
  /*  스크롤의 화살표가 포함된 영역   */
  display: none;
}
.menu--right::-webkit-scrollbar-corner {
  /*  상하+좌우 스크롤이 만나는 공간   */
  background-color: transparent;
}
/*  */
/* 1-2-2. 메뉴 슬라이드 활성화 시 배경 딤처리 하기 */
.bg--dimmed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  transition: all 0.35s;
  opacity: 0;
  z-index: 1;
  visibility: hidden;
}
#X__btn:checked ~ .bg--dimmed {
  opacity: 1;
  visibility: visible;
}
/* 2. 중앙 로고 */
.navbar__logo {
  display: flex;
  flex-basis: 30%;
  align-items: center;
  justify-content: center;
}
.navbar__logo img {
  object-fit: contain;
}
/* 3. 우측 메뉴들 */
.navbar__etc {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 35%;
}
.navbar__etc--menu {
  text-align: center;
  line-height: 40px;
}
.menu--amibo {
  margin: 0 36px 0 46px;
}
.menu--myNin {
  width: 124px;
  height: 40px;
  margin-right: 27px;
  border: 2px solid #f1001d;
  border-radius: 20px;
  line-height: 36px;
  color: #f1001d;
}

/*  */
/* PC 해상도 1024px ~ */
@media all and (min-width: 1024px) {
}
/* 중간단계 */
@media all and (max-width: 1200px) {
  /* 우측 메뉴 숨기기 */
  .menu--amibo,
  .menu--myNin {
    display: none;
  }
  .menu--download {
    margin-right: 28px;
  }
}
/* PC, 태블릿 가로 768px ~ */
@media all and (min-width: 768px) and (max-width: 1023px) {
  :root {
    /* color */
    /* Font size */
    --font-large: 2.25em;
    --font-medium: 2em;
    --font-regular: 1.75em;
    --font-small: 1.5em;
    --font-micro: 1.25em;
  }
  /* 1-2. 클릭 시 나타나는 좌측 슬라이드 메뉴 바 */
  #menu__slide {
    min-width: 500px;
  }
  /* 1-2-1. 메뉴 컨텐츠 스타일 */
  .menu__main {
    overflow: scroll;
    overflow-x: hidden;
  }
  .accordion__menu {
    flex-wrap: wrap;
  }
  .menu--left {
    flex-basis: 100%;
    height: auto;
    padding: 0;
  }
  .menu--right {
    flex-basis: 100%;
    overflow: inherit;
  }
  .menu-default {
    flex-basis: 100%;
    height: auto;
    border: none;
    padding: 0;
  }
  .menu4 {
    margin-bottom: 300px;
  }
  /* 1depth 타이틀 */
  .gnb__title {
    position: relative;
    padding: 45px 0 45px 35px;
    border-bottom: 2px solid #dde1e5;
    color: #666;
    transition: all 0.6s ease-in-out;
  }
  .line__active {
    border: none;
    transition: all 0.6s ease-in-out;
  }
  /* PC기준의 타이틀 밑에 밑줄  */
  .gnb__title::after {
    content: '';
    display: none;
    position: absolute;
    left: 50%;
    bottom: 25%;
    transform: translateX(-50%);
    width: 85%;
    height: 1px;
    background-color: #d6d6d6;
    transition: all 0.6s ease-in-out;
  }
  .gnb__title.active::after {
    display: block;
  }
  /* 2depth 내용 컨텐츠 */
  .menu__2depth {
    position: relative;
    width: 100%;
    height: 0;
    margin: 0;
    padding-left: 35px;
    opacity: 0;
    overflow: hidden;
    z-index: 2;
    transition: all 0.6s cubic-bezier(0.42, 0.2, 0.8, 1);
  }
  .menu__2depth li {
    margin-bottom: 15px;
    padding: 0;
  }
  .menu__2depth li:nth-child(1) {
    margin-top: 20px;
  }
  .menu__2depth li a {
    display: inline-block;
    width: 100%;
    padding: 12px 0;
    color: #a7a7a7;
  }
  /* 클릭 시 보이는 아코디언 2depth 메뉴 */
  .menu__2depth.show {
    top: -20px;
    height: auto;
    opacity: 1;
    z-index: 3;
  }
  /* 1depth 타이틀 화살표 */
  .arrowBtn {
    display: inline-block;
    right: 50px;
  }
  .arrowBtn.down {
    transform: translateY(-50%) rotate(0deg) scaleY(-1);
  }
}
@media all and (max-width: 767px) {
  :root {
    /* color */
    /* Font size */
    --font-large: 2.25em;
    --font-medium: 2em;
    --font-regular: 1.75em;
    --font-small: 1.5em;
    --font-micro: 1.25em;
  }
  #menu__slide {
    width: 100%;
  }
  /* 1-2-1. 메뉴 컨텐츠 스타일 */
  .menu__main {
    overflow: scroll;
    overflow-x: hidden;
  }
  .accordion__menu {
    flex-wrap: wrap;
  }
  .menu--left {
    flex-basis: 100%;
    height: auto;
    padding: 0;
  }
  .menu--right {
    flex-basis: 100%;
    overflow: inherit;
  }
  .menu-default {
    flex-basis: 100%;
    height: auto;
    border: none;
    padding: 0;
  }
  .menu4 {
    margin-bottom: 300px;
  }
  /* 1depth 타이틀 */
  .gnb__title {
    position: relative;
    padding: 45px 0;
    border-bottom: 2px solid #dde1e5;
    color: #666;
    transition: all 0.6s ease-in-out;
  }
  .gnb__title > span {
    position: relative;
    left: 7%;
  }
  .line__active {
    border: none;
    transition: all 0.6s ease-in-out;
  }
  /* PC기준의 타이틀 밑에 밑줄  */
  .gnb__title::after {
    content: '';
    display: none;
    position: absolute;
    left: 50%;
    bottom: 25%;
    transform: translateX(-50%);
    width: 85%;
    height: 1px;
    background-color: #d6d6d6;
    transition: all 0.6s ease-in-out;
  }
  .gnb__title::after {
    display: block;
  }
  /* 2depth 내용 컨텐츠 */
}
