/* Font family */
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@font-face {
  font-family: 'TmonMonsori';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
/* ------------------------------------------ */
/* Global set */
:root {
  /* color */
  /* Font size */
  --font-large: 2.5em;
  --font-medium: 1.5em;
  --font-regular: 1.125em;
  --font-small: 1.05em;
  --font-micro: 0.875em;
  /* Font weight */
  --weight-bold: 800;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  /* Size */
  /* Animation */
}
/* ------------------------------------------ */
/* Default */
* {
  margin: 0;
  padding: 0;
  font-family: 'NanumSquare', sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
a {
  color: #a7a7a7;
  font-weight: var(--weight-regular);
}
.roboto {
  font-family: 'Roboto', sans-serif;
  font-weight: var(--weight-semi-bold);
}
.section__title {
  margin-bottom: 60px;
  text-align: center;
  color: #fff;
}
.section__title h3 {
  font-size: 24px;
}
.section__title h2 {
  font-size: 40px;
}
/*  */
/* --------------1. 네비게이션 바(상단) ------------------- */
#navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 88px;
  box-shadow: 0px 1px 20px #e6e4e4;
  background-color: #fcfcfc;
  z-index: 5;
}
.navbar__btn {
  flex-basis: 35%;
}
/*  1-1. 네비게이션 햄버거 버튼 */
input#X__btn {
  display: none;
}
.xBtn__label {
  display: block;
  position: relative;
  top: 50%;
  left: 28px;
  transform: translateY(-50%);
  width: 33px;
  height: 24px;
  margin: 0;
  cursor: pointer;
  z-index: 5;
}
.xBtn__label span {
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  margin: 0;
  border-radius: 3px;
  background-color: #333;
  transition: all 0.3s ease;
}
.xBtn__label span:nth-child(1) {
  top: 0;
}
.xBtn__label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.xBtn__label span:nth-child(3) {
  bottom: 0;
}
#X__btn:checked + .xBtn__label span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
#X__btn:checked + .xBtn__label span:nth-child(2) {
  opacity: 0;
}
#X__btn:checked + .xBtn__label span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}
/* 1-2. 클릭 시 나타나는 좌측 슬라이드 메뉴 바 */
#menu__slide {
  position: fixed;
  top: 0;
  left: -2000px;
  width: 50%;
  height: 100%;
  min-width: 980px;
  background-color: #fcfcfc;
  z-index: 3;
  transition: all 0.35s;
}
#X__btn:checked ~ label + div#menu__slide {
  left: 0;
}
/*  1-2-1. 메뉴 컨텐츠 스타일 */
.menu__body {
  width: 100%;
  height: 100%;
  padding: 88px 0 0;
}
.menu__main {
  width: 100%;
  height: 100%;
  border-top: 1px solid #dde1e5;
}
.accordion__menu {
  display: flex;
  width: 100%;
  height: auto;
}
.menu--left {
  flex-basis: 30%;
  height: auto;
  padding: 45px 0 0 50px;
}
.gnb__title {
  font-weight: 800;
  font-size: var(--font-small);
  color: #3b3b3b;
}
.arrowBtn {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.arrowBtn img {
  width: 24px;
  height: auto;
}
.gnb__title::after {
  content: '';
  display: block;
  width: 170px;
  height: 2px;
  margin: 7px 0 0 -3px;
  background-color: #d6d6d6;
}
.menu__2depth {
  margin-top: 25px;
}
.menu__2depth li {
  padding: 6px 0;
}
.menu__2depth li > a {
  transition: all 0.3s ease-in-out;
}
.menu__2depth li > a:hover {
  color: #f1001d;
}
/*  */
.menu--right {
  flex-basis: 70%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  overflow-x: hidden;
}
.menu-default {
  flex-basis: 50%;
  padding: 45px 0 0 50px;
}
.menu1,
.menu3 {
  border-left: 1px solid #dde1e5;
  border-right: 1px solid #dde1e5;
}
.menu3,
.menu4 {
  height: 100%;
}
.menu__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 180px;
  z-index: 5;
}
.menu__footer--common {
  height: 90px;
  line-height: 90px;
  text-align: center;
}
.menu__footer--common > a {
  display: inline-block;
}
.menu__footer--common > a > img {
  vertical-align: middle;
  object-fit: contain;
}

.amibo {
  background-color: #f9f8f8;
}
.myNin {
  background-color: #f1001d;
}
/* 메뉴의 스크롤바 꾸미기  */
.menu--right::-webkit-scrollbar {
  /* 스크롤바 전체 영역 */
  width: 7px;
}
.menu--right::-webkit-scrollbar-track {
  background-color: transparent;
  /* 스크롤이 움직이는 영역  */
}
.menu--right::-webkit-scrollbar-thumb {
  /*  스크롤  */
  background-color: #d6d6d6;
}
.menu--right::-webkit-scrollbar-button:start:decrement,
.menu--right::-webkit-scrollbar-button:end:increment {
  /*  스크롤의 화살표가 포함된 영역   */
  display: none;
}
.menu--right::-webkit-scrollbar-corner {
  /*  상하+좌우 스크롤이 만나는 공간   */
  background-color: transparent;
}
/*  */
/* 1-2-2. 메뉴 슬라이드 활성화 시 배경 딤처리 하기 */
.bg--dimmed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  transition: all 0.35s;
  opacity: 0;
  z-index: 1;
  visibility: hidden;
}
#X__btn:checked ~ .bg--dimmed {
  opacity: 1;
  visibility: visible;
}
/* 2. 중앙 로고 */
.navbar__logo {
  display: flex;
  flex-basis: 30%;
  align-items: center;
  justify-content: center;
}
.navbar__logo img {
  object-fit: contain;
}
/* 3. 우측 메뉴들 */
.navbar__etc {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 35%;
}
.navbar__etc--menu {
  text-align: center;
  line-height: 40px;
}
.menu--amibo {
  margin: 0 36px 0 46px;
}
.menu--myNin {
  width: 124px;
  height: 40px;
  margin-right: 27px;
  border: 2px solid #f1001d;
  border-radius: 20px;
  line-height: 36px;
  color: #f1001d;
}
/*  */
/* --------------2. 이미지 슬라이드 영역 ------------------- */
#slide__container {
  position: relative;
  top: 0;
  height: 980px;
}

/* 슬라이드 이미지 스타일 */
.main__slider {
  position: relative;
  height: 100%;
}
.slides {
  position: relative;
  height: inherit;
  overflow: hidden;
}
.slide__content {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 0;
  transition: all 0.5s ease-in-out;
}
.slide--img {
  position: absolute;
  width: 100%;
  height: inherit;
}
.slide--img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*  슬라이드 활성화  */
.slide--active {
  z-index: 1;
  opacity: 1;
}
/* 슬라이드 버튼  */
.btn__boxes {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
}
.progress__btn {
  flex-basis: 16%;
  position: relative;
  padding: 30px 50px;
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
}
.short-line::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 54px;
  z-index: 10;
  border-right: 2px solid #b1b1b1;
  border-left: 2px solid #b1b1b1;
  box-sizing: border-box;
}
.short-line-2::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 54px;
  z-index: 10;
  border-right: 2px solid #b1b1b1;
}
.btn__title {
  font-size: 18px;
  color: #333333;
  font-weight: 400;
  font-size: var(--font-regular);
  word-break: keep-all;
}
.btn--active {
  opacity: 1;
  background: #fff;
}
.progress__btn:not(.btn--active) {
  pointer-events: none;
}
/* 프로그레스 바 */
.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgba(143, 113, 115, 0.1);
}
.progress-bar__fill {
  width: 0;
  height: inherit;
  background: #e70012;
  transition: all 0.16s;
}
/*  */
/* --------------3. 닌텐도 소개 영역 - 섹션2 ------------------- */
#explantion__container {
  width: 100%;
  max-width: 1200px;
  margin: 140px auto 90px;
  padding: 0 20px;
  text-align: center;
}
.slide__Wrap {
  position: relative;
  width: 100%;
  margin: auto;
}
.slide__box {
  width: 100%;
  margin: auto;
  overflow-x: hidden;
}
.slide__list {
  width: 200%;
  display: flex;
  justify-content: space-around;
  transition: all 0.35s ease-in-out;
}
.slide__section {
  display: block;
  text-align: center;
}
.slide__contents {
  height: auto;
}
.top {
  margin-bottom: 40px;
}
.subTitle {
  font-size: 24px;
}
.mainTitle {
  font-size: 40px;
  margin-top: -2px;
}
.text {
  margin: 50px auto 40px;
  font-size: 18px;
  line-height: 25px;
}
.more {
  background: transparent;
  border: 2px solid #cdcdcd;
  width: 160px;
  height: 40px;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}
.more:hover {
  border-color: #ed1c24;
  color: #ed1c24;
  text-decoration: underline;
}
.more-right {
  margin-left: 5px;
  font-size: 18px;
  vertical-align: middle;
}

/* 슬라이드 버튼 */
/* -------------------- */
.slide__btn {
  position: absolute;
  left: 50%;
  bottom: 9%;
  transform: translateX(-50%);
  display: flex;
}
.slide__btn--prev {
  background: transparent;
  border: none;
  font-size: 20px;
  line-height: 50%;
  cursor: pointer;
}
.slide__btn--next {
  background: transparent;
  border: none;
  font-size: 20px;
  line-height: 50%;
  cursor: pointer;
}
.slide__num {
  margin: 0 15px;
}
.slide__number {
  width: 20px;
  border: none;
  background: transparent;
  text-align: center;
  color: #878b94;
  margin: 0;
}
.slide__number--bold {
  color: #2a2b2d;
  font-weight: var(--weight-bold);
}
.slide--zero {
  color: #2a2b2d;
  font-weight: var(--weight-bold);
}
/*  */
/* --------------4. 닌텐도 주요 소프트웨어 영역 - 섹션3 ------------------- */
#software__container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 80px 20px;
  overflow: hidden;
  text-transform: uppercase;
}
/* 배경 이미지 스타일 */
#img__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#img__background img {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  object-fit: cover;
  object-position: 0 0;
}
#img__background::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.589);
}
/* 박스 스타일 */
#software__boxes {
  position: relative;
}
.software__boxes {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}
.software__btn {
  display: flex;
  flex-wrap: wrap;
}
.software__box {
  flex-basis: 24.9%;
  position: relative;
  min-width: 300px;
  min-height: 300px;
  max-height: 300px;
  margin: 0 1px 1px 0;
  padding: 30px 30px 30px 20px;
  overflow: hidden;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}
.software__box:hover .software--text img {
  opacity: 0;
}
.software__box span {
  display: inline-block;
  width: 100%;
  height: 150px;
}
.software--text h4 {
  position: relative;
  text-shadow: 1px 1px 0px #333;
}
.software--text img {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-90%, -50%);
  height: auto;
  object-fit: cover;
}
.box3 .software--text img {
  left: 96%;
}
.box4 .software--text img {
  top: 55%;
  left: 96%;
}
.box7 .software--text img {
  left: 90%;
}
@keyframes transition {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.boxBtn-imgX {
  display: none;
}

/*  */
/* --------------5. 닌텐도 다운로드 소프트웨어 영역 - 섹션4 ------------------- */
#download__container {
  padding: 80px 20px;
  background-color: #f4f5f7;
}
.download__contents {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
/* 컨텐츠 영역 스타일 */
.black {
  margin: 120px 0 60px;
  color: #3b3b3b;
}
.download_contentsbox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.download__box {
  height: auto;
  margin-bottom: 50px;
  background-color: #fafafc;
}
.download__text {
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.download__text h4 {
  margin: 10px 0;
  font-size: 18px;
  font-weight: var(--weight-bold);
  color: #3b3b3b;
}
.download__text h5 {
  margin: 5px 0 10px;
  font-size: 16px;
  font-weight: var(--weight-regular);
  color: #606060;
}
.download__text p {
  margin: 10px 0 5px;
  font-size: 14px;
  color: #bbb;
}
.download__text > p > img {
  vertical-align: middle;
  margin-right: 5px;
}
.download__text > span {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #333;
}
.moreView {
  display: block;
  width: 124px;
  height: 40px;
  margin: 50px auto 0;
  border-radius: 40px;
  border: 2px solid #9c9c9c;
  color: #9c9c9c;
  font-size: 16px;
  background-color: transparent;
  box-shadow: none;
  transition: all 0.35s ease-in-out;
}
.moreView:hover {
  border-color: #ed1c24;
  color: #ed1c24;
  text-decoration: underline;
}

/*  */
/* --------------6. 공지사항 및 업데이트 영역 - 섹션5 ------------------- */
#notice__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 80px 20px;
}

/* NEWS 영역 */
.notice__area {
  flex-basis: 48%;
  position: relative;
}
.circle {
  position: absolute;
  top: 35px;
  right: 10px;
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  border-radius: 100%;
  border: 3px solid #b3b3b3;
  background-color: transparent;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.35s ease;
}
.circle span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: #b3b3b3;
  transition: all 0.35s ease;
}
.circle span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(90deg);
}
.circle:hover {
  border-color: #e74330;
}
.circle:hover span {
  background-color: #e74330;
}
input[type='radio'] {
  display: none;
}
input[type='radio'] + label {
  display: inline-block;
  color: #555555;
  font-size: 18px;
  font-weight: var(--weight-regular);
  padding: 45px 10px;
  vertical-align: middle;
  box-sizing: border-box;
  cursor: pointer;
}
input[type='radio']:checked + label {
  color: #e74330;
  border-bottom: 2px solid #e74330;
}
.noticeTap__box {
  display: none;
  width: 100%;
  height: auto;
  border-top: 1px solid #dbdbdb;
}
input[id='tab01']:checked ~ .noticeTap1 {
  display: block;
}
input[id='tab02']:checked ~ .noticeTap2 {
  display: block;
}
input[id='tab03']:checked ~ .noticeTap3 {
  display: block;
}
.notice__title {
  display: inline-block;
  margin: 0;
  padding: 30px 10px;
  padding-left: 0;
  font-size: 40px;
  vertical-align: middle;
}
.update__title {
  margin: 0;
  vertical-align: middle;
}
.update__title h2 {
  display: inline-block;
  vertical-align: middle;
  font-size: 40px;
}
.update__title > span {
  display: inline-block;
  width: 40px;
  height: 30px;
}
.tap__text {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 1px 0;
}
.tapText1 {
  margin-top: 10px;
}
.tapObject {
  width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666666;
  font-size: 14px;
}
.tabDate {
  color: #ababab;
  font-size: 14px;
}
/* UPDATE 영역 */
.update__area {
  position: relative;
  flex-basis: 48%;
  max-width: 48%;
}
.update__title > h2 {
  vertical-align: middle;
  padding: 30px 10px;
  padding-left: 0;
}
.update__title > span {
  padding: 25px 10px;
}
.update__contents {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.update__box {
  flex-basis: 48.5%;
  border: 1px solid #dedede;
  transition: all 0.35s ease-in-out;
}
.update__box > img {
  width: 100%;
  object-fit: contain;
}
.update__text {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 20px 15px;
  font-size: 14px;
}
.update__text p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  line-height: 18px;
  height: 36px;
  color: #666;
}
.update__text span {
  color: #b7b6b6;
  font-size: 14px;
}
.update__text span::before {
  content: '';
  display: block;
  width: 51px;
  height: 2px;
  background-color: #e70012;
  margin: 20px 0;
}
.update__box:hover .update__text span::before {
  animation: 0.35s linear barAni;
}
@keyframes barAni {
  0% {
    width: 0px;
  }
  100% {
    width: 51px;
  }
}
/*  */
/* --------------------7. 하단 푸터 ----------------------------------- */
#footer {
  position: relative;
  width: 100%;
  height: 244px;
  background-color: #282c2f;
  color: #9e9e9e;
}
.footer__line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background: #525252;
}
.footer__contents {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 30px 20px;
}
.footer__topContents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__left {
  display: flex;
  align-items: center;
}
.footerEtc {
  margin-left: 50px;
}
.footerEtc p {
  display: inline-block;
  padding: 0 15px;
  border-right: 1px solid #525252;
}
.footerEtc p:nth-of-type(2) {
  border: none;
}
.footer__right {
  text-align: right;
}
.footer__right p {
  margin: 5px 0 0;
}
.footer__bottomContents {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0;
  margin: 50px 0 0;
}
.footer__adress {
  line-height: 22px;
}
.footer__sns {
  font-size: 27px;
  align-items: center;
  color: #babbbc;
}
.fa-youtube {
  margin-right: 5px;
}
.fab {
  transition: all 0.3s ease-in-out;
}
.fab:hover {
  color: #f1001d;
  cursor: pointer;
}
.footerEtc p:hover {
  color: #f1001d;
  cursor: pointer;
}
/*  */
/* ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★  */
/* PC 해상도 1024px ~ */
@media all and (min-width: 1024px) {
}
/* ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★  */
/* 중간단계 */
@media all and (max-width: 1200px) {
  /* 우측 메뉴 숨기기 */
  .menu--amibo,
  .menu--myNin {
    display: none;
  }
  .menu--download {
    margin-right: 28px;
  }
}
/* ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★  */
/* PC, 태블릿 가로 768px ~ */
@media all and (min-width: 768px) and (max-width: 1023px) {
  :root {
    /* color */
    /* Font size */
    --font-large: 2.25em;
    --font-medium: 2em;
    --font-regular: 1.75em;
    --font-small: 1.5em;
    --font-micro: 1.25em;
  }
  /* 1-2. 클릭 시 나타나는 좌측 슬라이드 메뉴 바 */
  #menu__slide {
    min-width: 500px;
  }
  /* 1-2-1. 메뉴 컨텐츠 스타일 */
  .menu__main {
    overflow: scroll;
    overflow-x: hidden;
  }
  .accordion__menu {
    flex-wrap: wrap;
  }
  .menu--left {
    flex-basis: 100%;
    height: auto;
    padding: 0;
  }
  .menu--right {
    flex-basis: 100%;
    overflow: inherit;
  }
  .menu-default {
    flex-basis: 100%;
    height: auto;
    border: none;
    padding: 0;
  }
  .menu4 {
    margin-bottom: 300px;
  }
  /* 1depth 타이틀 */
  .gnb__title {
    position: relative;
    padding: 45px 0 45px 35px;
    border-bottom: 2px solid #dde1e5;
    color: #666;
    transition: all 0.6s ease-in-out;
  }
  .line__active {
    border: none;
    transition: all 0.6s ease-in-out;
  }
  /* PC기준의 타이틀 밑에 밑줄  */
  .gnb__title::after {
    content: '';
    display: none;
    position: absolute;
    left: 50%;
    bottom: 25%;
    transform: translateX(-50%);
    width: 85%;
    height: 1px;
    background-color: #d6d6d6;
    transition: all 0.6s ease-in-out;
  }
  .gnb__title.active::after {
    display: block;
  }
  /* 2depth 내용 컨텐츠 */
  .menu__2depth {
    position: relative;
    width: 100%;
    height: 0;
    margin: 0;
    padding-left: 35px;
    opacity: 0;
    overflow: hidden;
    z-index: 2;
    transition: all 0.6s cubic-bezier(0.42, 0.2, 0.8, 1);
  }
  .menu__2depth li {
    margin-bottom: 15px;
    padding: 0;
  }
  .menu__2depth li:nth-child(1) {
    margin-top: 20px;
  }
  .menu__2depth li a {
    display: inline-block;
    width: 100%;
    padding: 12px 0;
    color: #a7a7a7;
  }
  /* 클릭 시 보이는 아코디언 2depth 메뉴 */
  .menu__2depth.show {
    top: -20px;
    height: auto;
    opacity: 1;
    z-index: 3;
  }
  /* 1depth 타이틀 화살표 */
  .arrowBtn {
    display: inline-block;
    right: 50px;
  }
  .arrowBtn.down {
    transform: translateY(-50%) rotate(0deg) scaleY(-1);
  }

  /*  */
  /* --------------2. 이미지 슬라이드 영역 ------------------- */

  /* 슬라이드 버튼  */
  .btn__boxes {
    justify-content: space-between;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 55%;
    height: 8px;
  }
  .progress__btn {
    flex-basis: 15%;
    height: 100%;
    padding: 0;
  }
  .short-line::after {
    display: none;
  }
  .short-line-2::after {
    display: none;
  }
  .btn__title {
    display: none;
  }
  /* 프로그레스 바 */
  .progress-bar {
    height: 100%;
  }
  /*  */
  /* --------------3. 닌텐도 소개 영역 - 섹션2 ------------------- */
  #explantion__container {
    max-width: 740px;
    padding: 0;
  }
  .slide__list {
    position: relative;
    left: 0;
  }
  .bottom img {
    width: 100%;
    object-fit: contain;
  }
  /*  */
  /* --------------4. 닌텐도 주요 소프트웨어 영역 - 섹션3 ------------------- */
  .software__btn {
    justify-content: center;
  }
  /*  */
  /* --------------5. 닌텐도 다운로드 소프트웨어 영역 - 섹션4 ------------------- */
  .download_contentsbox {
    justify-content: space-evenly;
  }
  /*  */
  /* --------------6. 공지사항 및 업데이트 영역 - 섹션5 ------------------- */
  #notice__container {
    display: flex;
    justify-content: left;
    padding: 80px 0 0;
  }
  .notice__area {
    flex-basis: 100%;
    padding: 0px 50px 20px;
  }
  /* UPDATE 영역 */
  .update__area {
    flex-basis: 100%;
    max-width: 100%;
    margin-top: 50px;
    background-color: #f8f9fb;
    padding: 50px;
  }
  .update__box {
    margin: 25px 10px 25px;
    border: 1px solid #dedede;
  }
  .update__box img {
    width: 100%;
    object-fit: contain;
  }
  .updateBox1 {
    margin-left: 0;
  }
  .updateBox2 {
    margin-right: 0;
  }
  /*  */
  /* --------------------7. 하단 푸터 ----------------------------------- */
  #footer {
    height: auto;
  }
  .footer__contents {
    padding: 30px 0;
  }
  .footer__topContents {
    display: block;
    margin: auto;
    text-align: center;
  }
  .footer__left {
    display: block;
    margin: auto;
  }
  .footerEtc {
    display: block;
    width: 100%;
    margin: auto;
    border-bottom: 2px solid #525252;
  }
  .footerEtc p {
    display: block;
    margin: 15px auto;
    font-size: var(--font-small);
  }
  .footerEtc p:nth-child(2)::after {
    content: 'PC버전';
    display: block;
    margin: 15px auto 30px;
  }
  .footer__line {
    display: none;
  }
  .footerlogo {
    display: none;
  }
  .footerCall {
    display: none;
  }
  .footer__adress {
    display: none;
  }
  .footer__bottomContents {
    margin: 0;
  }
  .footer__sns {
    margin: auto;
    text-align: center;
  }
  .fa-youtube {
    margin-right: 18px;
    margin-bottom: 20px;
  }
  .footer__sns::after {
    content: '2006 Nintendo of Korea Co., Ltd. All Rights Reserved.';
    display: block;
    font-size: 16px;
  }
}
/* ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★  */
@media all and (max-width: 767px) {
  :root {
    /* color */
    /* Font size */
    --font-large: 2.25em;
    --font-medium: 1.375em;
    --font-regular: 1.125em;
    --font-small: 1em;
    --font-micro: 0.875em;
  }
  #navbar {
    width: 100vw;
  }
  #menu__slide {
    width: 100%;
    min-width: 100%;
  }
  .navbar__btn {
    flex-basis: 20%;
    order: 2;
  }
  .navbar__etc {
    display: none;
  }
  /* 2. 중앙 로고 */
  .navbar__logo {
    flex-basis: 80%;
    justify-content: left;
    margin-left: 15px;
    order: 1;
  }
  .navbar__logo img {
    object-fit: contain;
    width: 50%;
  }
  /* 1-2-1. 메뉴 컨텐츠 스타일 */
  .menu__main {
    overflow: scroll;
    overflow-x: hidden;
  }
  .accordion__menu {
    flex-wrap: wrap;
  }
  .menu--left {
    flex-basis: 100%;
    height: auto;
    padding: 0;
  }
  .menu--right {
    flex-basis: 100%;
    overflow: inherit;
  }
  .menu-default {
    flex-basis: 100%;
    height: auto;
    padding: 0;
    border: none;
  }
  .menu4 {
    margin-bottom: 300px;
  }
  /* 1depth 타이틀 */
  .gnb__title {
    position: relative;
    padding: 45px 0;
    border-bottom: 2px solid #dde1e5;
    color: #666;
    font-size: var(--font-medium);
    transition: all 0.6s ease-in-out;
  }
  .gnb__title > span {
    position: relative;
    left: 7%;
  }
  .line__active {
    border: none;
    transition: all 0.6s ease-in-out;
  }
  /* PC기준의 타이틀 밑에 밑줄  */
  .gnb__title::after {
    content: '';
    display: none;
    position: absolute;
    left: 50%;
    bottom: 25%;
    transform: translateX(-50%);
    width: 85%;
    height: 1px;
    background-color: #d6d6d6;
    transition: all 0.6s ease-in-out;
  }
  .gnb__title.active::after {
    display: block;
  }
  /* 2depth 내용 컨텐츠 */
  .menu__2depth {
    position: relative;
    left: 7%;
    width: 100%;
    height: 0;
    margin: 0;
    opacity: 0;
    overflow: hidden;
    z-index: 2;
    font-size: var(--font-regular);
    transition: all 0.6s cubic-bezier(0.42, 0.2, 0.8, 1);
  }
  .menu__2depth li {
    margin-bottom: 15px;
    padding: 0;
  }
  .menu__2depth li:nth-child(1) {
    margin-top: 20px;
  }
  .menu__2depth li a {
    display: inline-block;
    width: 100%;
    padding: 12px 0;
    color: #a7a7a7;
  }
  /* 클릭 시 보이는 아코디언 2depth 메뉴 */
  .menu__2depth.show {
    top: -20px;
    height: auto;
    opacity: 1;
    z-index: 3;
  }
  /* 1depth 타이틀 화살표 */
  .arrowBtn {
    display: inline-block;
    right: 50px;
  }
  .arrowBtn.down {
    transform: translateY(-50%) rotate(0deg) scaleY(-1);
  }
  /*  */
  /* --------------2. 이미지 슬라이드 영역 ------------------- */

  /* 슬라이드 버튼  */
  .btn__boxes {
    justify-content: space-between;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 55%;
    height: 8px;
  }
  .progress__btn {
    flex-basis: 15%;
    height: 100%;
    padding: 0;
  }
  .short-line::after {
    display: none;
  }
  .short-line-2::after {
    display: none;
  }
  .btn__title {
    display: none;
  }
  /* 프로그레스 바 */
  .progress-bar {
    height: 100%;
  }
  /*  */
  /* --------------2. 닌텐도 소개 영역 - 섹션2 ------------------- */
  #explantion__container {
    max-width: 100%;
    margin: 50px auto;
    padding: 0;
  }
  .slide__Wrap {
    width: 100%;
  }
  .slide__list {
    position: relative;
    left: 0;
    width: 200%;
  }
  .slide__section:nth-of-type(2) {
    margin-right: 0;
  }
  .slide__contents {
    width: 100%;
  }
  .bottom img {
    width: 100%;
    object-fit: contain;
  }
  .subTitle {
    font-size: 16px;
  }
  .mainTitle {
    font-size: 24px;
    margin-top: -2px;
  }
  .text {
    margin: 50px auto 40px;
    font-size: 14px;
    line-height: 20px;
  }
  .more-right {
    margin-left: 5px;
    font-size: 14px;
    vertical-align: middle;
  }
  /*  */
  /* --------------3. 닌텐도 소개 영역 - 섹션2 ------------------- */
  #explantion__container {
    max-width: 300px;
    padding: 0;
  }
  .slide__Wrap {
    position: relative;
    margin: auto;
  }
  .slide__list {
    position: relative;
    left: 0;
  }
  .slide__section {
    width: 100%;
  }
  .top .text {
    margin: 20px auto;
  }
  .bottom img {
    width: 100%;
    object-fit: contain;
  }
  .slide__btn {
    bottom: 4%;
    font-size: 14px;
  }
  .slide__btn .slide__number {
    line-height: 20px;
  }
  /*  */
  /* --------------4. 닌텐도 주요 소프트웨어 영역 - 섹션3 ------------------- */
  .software__btn {
    justify-content: center;
  }
  /*  */
  /* --------------5. 닌텐도 다운로드 소프트웨어 영역 - 섹션4 ------------------- */
  .download_contentsbox {
    justify-content: space-evenly;
  }
  /*  */
  /* --------------6. 공지사항 및 업데이트 영역 - 섹션5 ------------------- */
  #notice__container {
    display: flex;
    justify-content: left;
    max-width: none;
    padding: 0;
    /* padding: 80px 25px 20px; */
  }
  .notice__area {
    flex-basis: 100%;
    padding: 80px 25px 20px;
  }
  .tapObject {
    width: 200px;
  }
  /* UPDATE 영역 */
  .update__area {
    flex-basis: 100%;
    max-width: none;
    padding: 35px 25px 20px;
    background-color: #f8f9fb;
  }
  .update__box {
    margin: 0 10px 25px;
    border: 1px solid #dedede;
  }
  .update__box img {
    width: 100%;
    object-fit: contain;
  }
  .update__contents {
    flex-wrap: wrap;
  }
  .updateBox1 {
    margin: 15px auto 0;
  }
  .updateBox2 {
    margin: 25px auto 50px;
  }
  /*  */
  /* --------------------7. 하단 푸터 ----------------------------------- */
  #footer {
    height: auto;
  }
  .footer__contents {
    padding: 30px 0;
  }
  .footer__topContents {
    display: block;
    margin: auto;
    text-align: center;
  }
  .footer__left {
    display: block;
    margin: auto;
  }
  .footerEtc {
    display: block;
    width: 100%;
    margin: auto;
    border-bottom: 2px solid #525252;
  }
  .footerEtc p {
    display: block;
    margin: 15px auto;
    font-size: var(--font-small);
  }
  .footerEtc p:nth-child(2)::after {
    content: 'PC버전';
    display: block;
    margin: 15px auto 30px;
  }
  .footer__line {
    display: none;
  }
  .footerlogo {
    display: none;
  }
  .footerCall {
    display: none;
  }
  .footer__adress {
    display: none;
  }
  .footer__bottomContents {
    margin: 0;
  }
  .footer__sns {
    margin: auto;
    text-align: center;
  }
  .fa-youtube {
    margin-right: 18px;
    margin-bottom: 20px;
  }
  .footer__sns::after {
    content: '2006 Nintendo of Korea Co., Ltd. All Rights Reserved.';
    display: block;
    font-size: 16px;
  }
}
